{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block content %}
  <h2>Conversation History</h2>
  <div class="chat-container">
    {% for m in messages %}
      <div class="chat-message user">
          <div class="message">{{ m.user }}</div>
      </div>
      <div class="chat-message assistant">
          <div class="message"><div class="ai-md">{{ m.ai | safe }}</div></div>
      </div>
    {% endfor %}
  </div>

  {% if not messages %}
    <p>No conversation history found.</p>
  {% endif %}
{% endblock %}
